#root{
    height: 100%;
}

#components-form-normal-login .login-form {
    max-width: 300px;
}

#components-form-normal-login .login-form-forgot {
    float: right;
}

#components-form-normal-login .login-form-button {
    width: 100%;
}

#wh_out_record_form_table tbody>tr>td{
    padding: 8px 8px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}