body {
    margin: 0;
    padding: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
    /*"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
    /*sans-serif;*/
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.module_button_icon{
    font-size: 36px !important;
}
.module_button_text{
    display:block !important;
    marginLeft:0px !important;
}
@font-face {
    font-family: 'iconfont';
    src: url('./css/fonts/iconfont.eot');
    src: url('./css/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/iconfont.woff2') format('woff2'),
    url('./css/fonts/iconfont.woff') format('woff'),
    url('./css/fonts/iconfont.ttf') format('truetype'),
    url('./css/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'iconfont_marketM';
    src: url('./css/fonts/marketM/iconfont.eot');
    src: url('./css/fonts/marketM/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./css/fonts/marketM/iconfont.woff2') format('woff2'),
    url('./css/fonts/marketM/iconfont.woff') format('woff'),
    url('./css/fonts/marketM/iconfont.ttf') format('truetype'),
    url('./css/fonts/marketM/iconfont.svg#iconfont') format('svg');
}

.iconfont_marketM {
    font-family: "iconfont_marketM" !important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.iconfont {*/
    /*width: 1em; height: 1em;*/
    /*vertical-align: -0.15em;*/
    /*fill: currentColor;*/
    /*overflow: hidden;*/
/*}*/
.btn_backTOLanding{
    margin-right: 8px;
    margin-bottom: 12px;
}
#root {
    height: 100%;
}

#components-form-normal-login .login-form {
    max-width: 320px;
}

#components-form-normal-login .login-form-input {
    height: 36px;
}

#components-form-normal-login .login-form-button {
    width: 100%;
}

#login-wrapper-container {
    /*min-width: 485px;*/
    margin: 20vh auto auto;
    transition: margin .2s;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.background-image {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/images/back01.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    /*-webkit-filter: blur(2px);*/
    /*-moz-filter: blur(2px);*/
    /*-o-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    /*filter: blur(2px);*/
    /*z-index: -100;*/
}

#wh_out_record_form_table {
    background-color: white;
    width: 100%;
    min-width: 1080px;
    /*border: 1px solid black;*/
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

#wh_out_record_form_table tr > td {
    padding: 4px 4px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}

#wh_out_record_form_table .ant-form-item {
    margin-bottom: 0 !important;
}

#wh_out_record_form_table input {
    border: 0;
    border-bottom: 1px solid;
}

#wh_out_record_form_table_modal {
    background-color: white;
    width: 100%;
    /*border: 1px solid black;*/
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

#wh_out_record_form_table_modal tr > td {
    padding: 3px 3px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}
